{% extends 'base.html' %}

{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="position: absolute;; right:10%; top:1%; ">
    <a href="{% url 'home' %}">
      <button class="container" >Home</button>
    </a>
</div>
<h2>Chat Messages</h2>

{% for message in messages %}
  {% if message.Sender.username == me %}
    <div class="container">
      <h3> You: </h3>
      <p>{{ message.Message }} </p>
      <span class="right">{{ message.Date }}</span>
    </div>
  {% else %}
    <div class="container darker">
        <h3>{{ chatfriend }}: </h3>
        <p>{{ message.Message }}</p>
        <span class="right">{{ message.Date }}</span>
      </div>
  {% endif %}
{% endfor %}

<form action="" method="POST"> 
    {% csrf_token %}
    {{ form }}
    <br>
    <input class="container" type="submit" value="Send">
</form>

</body>
{% endblock %}